body {
  background-color: blueviolet;
}
.parent { 
          
          display: grid;
          grid-template-columns: repeat(3, 200px);
          grid-template-rows: 80px 40px 200px 100px;
          grid-gap: 20px 50px;
          justify-content: space-evenly;
          

}

.child {
  border: 1px solid black;
  padding: 10px;
  background-color:wheat;
  border-radius: 15px;
}
